<h1>Lord of the Ruby</h1>

<%= form_with url: books_path, method: :get, local: true do %>
  <%= label_tag :search, "Search for a book:" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>
  <% end %>
</ul>

<%= paginate @books %>
