<h1><%= @book.title %></h1>
<p>Author: <%= link_to @book.author.name, author_path(@book.author) %></p>
<p>Publisher: <%= link_to @book.publisher.name, publisher_path(@book.publisher) %></p>
<p>Category: <%= link_to @book.category.name, category_path(@book.category) %></p>
<p>Publish Date: <%= @book.publish_date %></p>
<p>ISBN: <%= @book.isbn %></p>
